/*------------------------------------------------------------------
Project:    Krinky Personal Portfolio
Version:    1.0
Primary use:    pxdraft

[Table of contents]

1. Body
2. Header
3. Footer
4. Blog
5. Section
6. Home Banner
7. About
8. Services
9. Portfolio
10. Testimonial
11. Contact Us

-------------------------------------------------------------------*/
@import url(../vendor/bootstrap/css/bootstrap.min.css);
@import url(../vendor/bootstrap/icons/bootstrap-icons.css);
@import url(../vendor/owl-carousel/css/owl.carousel.min.css);
@import url(../vendor/magnific/magnific-popup.css);
@import url(../vendor/font-awesome/css/all.min.css);
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap");
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
  background: transparent; }
  .fixed-header .main-header {
    background: #fff;
    box-shadow: 0 0.125rem 0.25rem rgba(55, 55, 55, 0.075); }
    .navbar-brand {
      font-weight: bold;
      font-size: 26px;
    }
    .navbar-brand img {
      width: 40px;
      vertical-align: bottom;
    }
  .main-header .navbar {
    padding: 15px 0; }
  .main-header .navbar-nav > li {
    padding: 0 10px; }
    @media (max-width: 991px) {
      .main-header .navbar-nav > li + li {
        border-top: 1px solid rgba(55, 55, 55, 0.1); } }
    .main-header .navbar-nav > li > .nav-link {
      padding: 0 5px;
      line-height: 35px;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 14px;
      color: #373737;
      letter-spacing: 3px;
      position: relative; }
      @media (max-width: 991px) {
        .main-header .navbar-nav > li > .nav-link {
          line-height: 50px; } }
      .main-header .navbar-nav > li > .nav-link:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: auto;
        right: 0;
        width: 0;
        height: 2px;
        background: #FF651C;
        transition: ease all 0.35s; }
        @media (max-width: 991px) {
          .main-header .navbar-nav > li > .nav-link:after {
            display: none; } }
      .main-header .navbar-nav > li > .nav-link:hover, .main-header .navbar-nav > li > .nav-link.active {
        color: #FF651C; }
        .main-header .navbar-nav > li > .nav-link:hover:after, .main-header .navbar-nav > li > .nav-link.active:after {
          left: 0;
          right: auto;
          width: 100%; }

@media (max-width: 991px) {
  .main-header .navbar-toggler {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    border: none;
    padding: 4px 9px;
    outline: none;
    box-shadow: none; }
    .main-header .navbar-toggler span {
      width: 25px;
      height: 2px;
      background: #373737;
      margin: 4px 0; }
  .main-header .navbar-collapse {
    border-bottom: 2px solid #373737;
    border-top: 2px solid #373737;
    position: absolute;
    top: 100%;
    left: 0px;
    background: #fff;
    right: 0px; } }

.footer {
  background-color: #373737;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.75); }
  .footer .nav a {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.75); }
    .footer .nav a:hover {
      color: #FF651C; }
    .footer .nav a + a {
      margin-left: 18px; }

.px-btn {
  padding: 8px 20px;
  border: 2px solid transparent;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: ease all 0.35s;
  display: inline-block; }
  .px-btn.px-btn-theme {
    background: #FF651C;
    border-color: #FF651C;
    color: #fff;
    box-shadow: 6px 6px 0 -1px #373737; }
    .px-btn.px-btn-theme:hover {
      background: #373737;
      border-color: #373737;
      box-shadow: 5px 5px 0 -2px #FF651C; }
  .px-btn.px-btn-theme2 {
    background: #FEC448;
    border-color: #FEC448;
    color: #373737;
    box-shadow: 5px 5px 0 -2px #FF651C; }
    .px-btn.px-btn-theme2:hover {
      background: #FF651C;
      border-color: #FF651C;
      color: #fff;
      box-shadow: 5px 5px 0 -2px #FEC448; }
  .px-btn.px-btn-dark {
    background: #373737;
    border-color: #373737;
    color: #fff;
    box-shadow: 5px 5px 0 -2px #FF651C; }
    .px-btn.px-btn-dark:hover {
      background: #FF651C;
      border-color: #FF651C;
      color: #fff;
      box-shadow: 5px 5px 0 -2px #373737; }

.bg-gray {
  background-color: rgba(254, 196, 72, 0.1); }

.bg-dark {
  background-color: #373737 !important; }

.bg-1 {
  background-color: #9BD3D0; }

.bg-2 {
  background-color: #FEC447 !important; }

.bg-3 {
  background-color: #FECCB5 !important; }

.bg-4 {
  background-color: #92B5FF !important; }

.bg-5 {
  background-color: #C4D39B !important; }

.bg-6 {
  background-color: #D2CEFF !important; }
  .bg-7 {
    background-color: #ceffd2 !important;
  }
  .bg-8 {
    background-color: #f3ac79 !important;
  }

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: inherit; } }

body {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  color: #555555; }

img {
  max-width: 100%; }

* {
  outline: none !important; }

a {
  color: #FF651C;
  text-decoration: none; }
  a:hover {
    color: #f24e00;
    text-decoration: none; }

.container {
  max-width: 1230px; }

/* ----------------------
*   Loading
---------------------------*/
#loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FF651C;
  z-index: 99999; }

.load-circle {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 50px;
  height: 50px; }
  .load-circle span {
    display: inline-block;
    width: 64px;
    height: 64px; }
    .load-circle span:after {
      content: " ";
      display: block;
      width: 46px;
      height: 46px;
      margin: 1px;
      border-radius: 50%;
      border: 5px solid #fff;
      border-color: #fff transparent #fff transparent;
      -webkit-animation: lds-dual-ring 1.2s linear infinite;
              animation: lds-dual-ring 1.2s linear infinite; }

@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

/* ----------------------
*   owl 
---------------------------*/
.owl-dots {
  text-align: center; }
  .owl-dots .owl-dot {
    display: inline-block;
    vertical-align: top;
    width: 12px;
    height: 12px;
    background: transparent;
    border: 1px solid #373737;
    transition: ease all 0.55s;
    border-radius: 50%;
    margin: 0 4px; }
    .owl-dots .owl-dot.active {
      background: #373737; }
      .owl-carousel span {
        padding: 5px 15px;
        font-size: 20px;
        font-weight: bold;
        color: #373737;
        border-radius: 2px;
      }

.owl-carousel.eq-height .owl-stage {
  display: -ms-flexbox;
  display: flex; }
  .owl-carousel.eq-height .owl-stage .owl-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }

.owl-carousel .owl-item img {
  width: auto;
  max-width: 100%; }

main {
  /* position: relative; */
  z-index: 1; }

.section-heading {
  padding-bottom: 60px; }
  @media (max-width: 991px) {
    .section-heading {
      padding-bottom: 40px; } }
  @media (max-width: 767px) {
    .section-heading {
      padding-bottom: 30px; } }
  .section-heading h3 {
    font-size: 50px;
    margin: 0;
    color: #373737;
    font-weight: 600;
    letter-spacing: 4px;
    text-transform: uppercase; }
    @media (max-width: 991px) {
      .section-heading h3 {
        font-size: 45px; } }
    @media (max-width: 767px) {
      .section-heading h3 {
        font-size: 38px; } }

/* Section
---------------------*/
.section {
  padding: 100px 0;
  position: relative; }
  @media (max-width: 991px) {
    .section {
      padding-top: 80px;
      padding-bottom: 80px; } }
  @media (max-width: 767px) {
    .contactus-section h3 {
      font-size: 38px !important;
      margin-bottom: 50px !important;
    }
    .about-text .px-btn {
      margin-bottom: 20px;
      padding: 8px 15px;
    }
    .section {
      padding-top: 60px;
      padding-bottom: 60px; } }

/* Home 
---------------------*/
.home-section {
  position: relative;
  overflow: hidden;
  padding-top: 180px;
  padding-bottom: 100px; }
  @media (max-width: 767px) {
    .home-section {
      padding-top: 120px;
      padding-bottom: 50px; } }
  .home-section:after {
    content: "";
    position: absolute;
    top: -19%;
    bottom: 47%;
    left: 48%;
    right: -16%;
    background: rgba(254, 196, 72, 0.4);
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    border-radius: 50px; }
    @media (max-width: 767px) {
      .home-section:after {
        top: 0%;
        bottom: 70%;
        left: 10%;
        right: -75%; } }
  .home-section .container {
    position: relative;
    z-index: 1; }
  .home-section .home-intro h6 {
    font-weight: 600;
    color: #373737;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 16px;
    margin: 0 0 30px; }
    @media (max-width: 767px) {
      .home-section .home-intro h6 {
        margin: 0 0 20px; } }
  .home-section .home-intro h1 {
    font-size: 50px;
    font-weight: 600;
    color: #373737;
    margin: 0 0 35px;
    line-height: 1; }
    .about-text .px-btn {
      margin-bottom: 20px;
    }
    @media (min-width: 768px) and (max-width: 1024px) {
      .contact-infos .col {
        width: 245px;
      }
    }
    @media (max-width: 1200px) {
      .home-section .home-intro h1 {
        font-size: 44px; } }
    @media (max-width: 767px) {
      .contact-infos .col {
        width: 250px;
      }
      .home-section .home-intro h1 {
        font-size: 27px;
        margin: 0 0 25px; } }
    .home-section .home-intro h1 > span {
      border-bottom: 2px solid #FEC448; }
  .home-section .home-intro p {
    font-size: 20px; }
    @media (max-width: 767px) {
      .home-section .home-intro p {
        font-size: 18px; } }
  .home-section .home-intro .btn-bar {
    padding-top: 10px; }

/* About
---------------------*/
.about-text h3 {
  font-weight: 600;
  color: #373737;
  margin: 0 0 25px; }

.about-text p {
  font-size: 18px; }

.about-text h5 {
  font-weight: 600;
  font-size: 26px;
  color: #FF651C;
  margin: 0; }

.about-text span {
  font-weight: 500;
  color: #373737; }

/* feature 
---------------------*/
.feature-box-01 {
  padding: 40px;
  border: 2px solid #373737;
  box-shadow: 0 0 0 0 #373737;
  transition: ease all 0.35s;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 767px) {
    .feature-box-01 {
      padding: 30px; } }
  .feature-box-01 .icon {
    width: 70px;
    height: 70px;
    line-height: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    border: 2px solid #373737;
    background: #fff;
    color: #373737;
    font-size: 32px; }
  .feature-box-01 .feature-content {
    -ms-flex: 0 0 calc(100% - 70px);
        flex: 0 0 calc(100% - 70px);
    max-width: calc(100% - 70px);
    padding-left: 20px; }
  .feature-box-01 h5 {
    font-size: 24px;
    color: #373737;
    font-weight: 600;
    margin-bottom: 10px; }
    @media (max-width: 767px) {
      .feature-box-01 h5 {
        font-size: 22px; } }
  .feature-box-01 p {
    margin: 0;
    color: #373737;
    font-size: 17px; }
  .feature-box-01:hover {
    box-shadow: 5px 5px 0 0 #373737; }

/* experience
---------------------*/
.feature-box-02 {
  padding: 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  border: 2px solid #373737;
  box-shadow: 0 0 0 0 #373737;
  transition: ease all 0.35s; }
  @media (max-width: 767px) {
    .feature-box-02 {
      padding: 10px; } }
  .feature-box-02:hover {
    box-shadow: 3px 3px 0 0 #373737; }
  .feature-box-02 .icon {
    width: 50px;
    height: 50px;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    background: #fff;
    color: #373737;
    border: 2px solid #373737;
    font-size: 30px;
    display: -ms-flexbox;
    display: flex; }
  .skill-progress {
    width: 80%;
    padding: 0px 15px;
    text-align: left;
  }
  .feature-box-02 h6 {
    color: #373737;
    margin: 0;
    padding-bottom: 5px;
    /* padding-left: 15px;  */
  }

/* Portfolio 
---------------------*/
.portfolio-box .portfolio-img {
  position: relative;
  border: 2px solid #373737;
  box-shadow: 0 0 0 0 #373737;
  transition: ease all 0.35s;
  position: relative; }
  .portfolio-box .portfolio-img .gallery-link-icon {
    width: 40px;
    height: 40px;
    background: #fff;
    color: #373737;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    border: 2px solid #373737;
    position: absolute;
    top: 15px;
    left: 0;
    transition: ease all 0.35s;
    opacity: 0; }
  .portfolio-box .portfolio-img:hover {
    box-shadow: 3px 3px 0 0 #373737; }
    .portfolio-box .portfolio-img:hover .gallery-link-icon {
      left: 15px;
      opacity: 1; }

/* .portfolio-box .portfolio-text h6 {
  margin-bottom: 18px; } */
  .portfolio-box .portfolio-text h6 span {
    display: inline-block;
    padding: 7px 15px;
    background: rgba(255, 101, 28, 0.2);
    color: #373737;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 30px;
  margin-bottom: 10px;
  margin-right: 10px; }

.portfolio-box .portfolio-text h4 {
  color: #373737;
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 20px; }
  @media (max-width: 767px) {
    .portfolio-box .portfolio-text h4 {
      font-size: 26px;
      margin-bottom: 10px; } }

.portfolio-box .portfolio-text .btn-bar {
  padding-top: 10px; }

.portfolio-box .portfolio-text .px-btn {
  font-size: 12px;
cursor: pointer; }

.feature-box-03 {
  border: 2px solid #373737;
  box-shadow: 0 0 0 0 #373737;
  transition: ease all 0.35s;
  padding: 35px;
  margin-bottom: 35px;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 767px) {
    .feature-box-03 {
      padding: 25px; } }
  .feature-box-03:hover {
    box-shadow: 3px 3px 0 0 #373737; }
  .feature-box-03 .feature-img {
    -ms-flex: 0 0 100px;
        flex: 0 0 100px;
    max-width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 0 auto;
    border: 2px solid #373737; }
  .feature-box-03 .icons {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: auto;
    color: #373737;
    font-size: 83px;
    line-height: 1;
    opacity: 0.1; }
  .feature-box-03 .feature-content {
    -ms-flex: 0 0 calc(100% - 100px);
        flex: 0 0 calc(100% - 100px);
    max-width: calc(100% - 100px);
    position: relative;
    padding-left: 20px; }
    .feature-box-03 .feature-content p {
      font-size: 17px; }
    .feature-box-03 .feature-content h6 {
      font-weight: 600;
      color: #373737;
      margin: 0; }
    .feature-box-03 .feature-content span {
      font-size: 14px; }

.contact-form {
  border: 2px solid #373737;
  padding: 35px;
  background: #fff; }
  @media (max-width: 767px) {
    .contact-form {
      padding: 25px; } }
  .contact-form h6 {
    font-size: 32px;
    font-weight: 600;
    color: #373737;
    margin: 0 0 5px; }
  .contact-form .lead {
    font-weight: 400;
    font-size: 18px;
    margin: 0 0 30px; }
  .contact-form .form-control {
    border-radius: 0;
    border: 1px solid #373737;
    box-shadow: none;
    padding: 0.575rem .75rem; }

.contact-infos {
  margin: 0;
  padding: 0;
  list-style: none; }
  .contactus-section h3{
    font-size: 50px;
    margin: 0;
    font-weight: 600;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 90px;
    color: #fff;
  }
  .contact-infos a {
    margin: 0;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
  }
  .contact-infos li {
    /* display: -ms-flexbox; */
    /* display: flex; */
    /* position: relative; */
    padding-bottom: 35px; }
    .contact-infos li:last-child {
      padding-bottom: 0; }
  .contact-infos .icon {
    width: 55px;
    height: 55px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
        align-items: center;
    color: #373737;
    -ms-flex-pack: center;
        justify-content: center;
    font-size: 25px; }
  .contact-infos .col {
    padding-left: 15px;
    display: inline-block;
    vertical-align: top; }
  .contact-infos h5 {
    font-size: 14px;
    margin: 0 0 5px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase; }
  .contact-infos p {
    margin: 0;
    font-size: 20px;
    color: #fff;
    font-weight: 500; }
    @media (max-width: 767px) {
      .contact-infos p {
        font-size: 20px; } }

.modal-title {
  color: #373737;
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 20px;
}
.modal-content {
  background: #fff9eb;
}
.nav-pills {
  justify-content: center;
}
.nav-pills .px-btn.active {
  background: #FF651C;
  border-color: #FF651C;
  color: #fff;
  box-shadow: 6px 6px 0 -1px #373737;
  border-radius: 0px;
}
.nav-pills .px-btn {
  color: #ff651c;
}
.modal button.close {
  right: 0;
  outline: 0;
}
  
#gallery-lightbox img {
  height: 350px;
  object-fit: cover;
  cursor: pointer;
}

#gallery-lightbox img:hover {
  opacity: 0.9;
  transition: 0.5s ease-out;
}
.tab-pane .img-fluid, .modal-body .img-fluid
 {
  background: #fff;
  padding: 15px;
  margin-top: 25px;
  box-shadow: 0px 0px 24px 0.3px rgb(92 89 143 / 20%);
}
.modal.lightbox.fade.show + .modal-backdrop.show {
  opacity: 8888;
  z-index: 8888;
  background: #fff9eb;
}
.modal.lightbox.fade.show {
  opacity: 9999;
  z-index: 9999;
}

/* .preview-item {
  border-radius: 8px;
  margin-bottom: 30px;
  transition: .5s all ease;
}
.preview-image {
  position: relative;
  padding-bottom: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0px 3px 25px 3px rgba(0,0,0,0.15);
}
.preview-image img {
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  transition: all 2.5s;
}
.preview-item:hover .preview-image img {
  transform: translateY(-75%);
} */